<main>
  <!--  Área de texto no topo-->
  <section class="sessao-flex">
    <h1>Learn to code by watching others</h1>
    <p>
      See how experienced developers solve problems in real-time. Watching
      scripted tutorials is great, but understanding how developers think is
      invaluable.
    </p>
  </section>
  <!--  Form + título "try it free"-->
  <section class="sessao-flex">
    <div class="shadow-rect free-trial">
      <h2><strong>Try it free 7 days</strong> then $20/mo. thereafter</h2>
    </div>
    <div class="white-rect shadow-rect">
      <app-register-form></app-register-form>

      <p class="small-text">
        By clicking the button you are agreeing to our
        <span>Terms and Services</span>
      </p>
    </div>
  </section>
</main>
